[package]
name = "core"
version = "0.1.0"
edition = "2024"

[dependencies]
serde = { version = "1.0.228", features = ["derive"] }
reqwest = { version = "0.12", features = ["json", "rustls-tls"] }
anyhow = "1.0.101"
dotenvy = "0.15.7"
quick-xml = { version = "0.39.0", features = ["serialize"]}
